<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title><%- title %></title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="navbar-header">
          <a href="/">Bibliotech</a>
        </div>
        <ul class="navbar-body">
          <li><a href="/">Inicio</a></li>
          <li><a href="/catalogo">Catalogo</a></li>
        </ul>
      </nav>
    </header>
    <main class="catalogo-container">
      <h2>Series disponibles</h2>
      <div class="catalogo">
        <% libros.forEach(libro => { %>
          <div class="serie">
            <figure>
              <a href="/libro/<%- libro.LibroID %>"><img src="<%- libro.imagen %>" /></a>
            </figure>
            <div class="title">
              <a href="/libro/<%- libro.LibroID %>"><%- libro.Titulo %></a>
            </div>
          </div>
        <% })%>
      </div>
    </main>
  </body>
</html>
