<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <header>
        <%- include('partials/navbar.ejs') %>
    </header>
      
    <div class="wrapper">
        <div class="containerEditar">
            <h1>Editar Libro</h1>
            <form class="editarLibroContainer" action="/libro/<%- libro.LibroID %>/editar" method="POST" enctype="multipart/form-data">
    
                <!-- Imagen a un costado -->
                <div class="portada">
                    <figure>
                        <img id="imagen" src="<%- libro.imagen %>" alt="">
                    </figure>
                    <input type="file" id="imagenInput" name="imagen">
                </div>
    
                <!-- Formulario en el otro costado -->
                <div class="datos">
                    <div class="row">
                        <div class="columna">
                            <h4>Titulo</h4>
                            <input type="text" value="<%- libro.Titulo %>" placeholder="..." name="titulo">
                            <h4>Autor</h4>
                            <input type="text" value="<%- libro.Autor %>" placeholder="..." name="autor">
                            <h4>ISBN</h4>
                            <input type="text" value="<%- libro.ISBN %>" placeholder="..." name="isbn">
                        </div>
                        <div class="columna">
                            <h4>Cantidad de paginas</h4>
                            <input type="text" value="<%- libro.CantidadPaginas %>" placeholder="..." name="cantidad_paginas">
                            <h4>Idioma</h4>
                            <input type="text" value="<%- libro.Idioma %>" placeholder="..." name="idioma">
                            <h4>Estado</h4>
                            <select name="estado">
                                <option value="disponible">Disponible</option>
                                <option value="prestado">Prestado</option>
                            </select>
                        </div>
                    </div>
                    <h4>Sinopsis</h4>
                    <textarea name="sinopsis" class="sinopsis"><%- libro.Sinopsis %></textarea>
                    <div class="botones">
                        <a href="/libro/<%- libro.LibroID %>">Cancelar</a>
                        <button type="submit">Editar</button>
                    </div>
                </div>
            </form>
        </div>
        <footer class="footerContainer">
            <%- include('partials/footer.ejs') %>
        </footer>
    </div>
    <script src="js/previsualizarImagen.js"></script>
</body>
</html>
