<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <%- include('partials/navbar.ejs') %>
    </header>
    <div class="wrapper">
      <section class="slider">
        <div class="swiffy-slider slider-nav-autohide slider-nav-autoplay slider-nav-autopause slider-item-snapstart">
          <ul class="slider-container" style="overflow-x: none;">
            <% visitados.forEach(visitado => { %>
              <a href="/libro/<%- visitado.LibroID %>">
                <li>
                  <div class="texto">
                    <h3><%- visitado.Titulo %></h3>
                    <p><%- visitado.Sinopsis %></p>
                  </div>
                  <img src="<%- visitado.imagen %>" alt="<%- visitado.Titulo %>">
                </li>
              </a>
            <% })%>
          </ul>
          <div class="slider-indicators">
              <% visitados.forEach(visitado => { %>
                <button></button>
              <% }) %>
          </div>
        </div>
      </section>
      <main class="container">
        <section>
          <h2>Series en emisión</h2>
          <div class="series" id="series">
            <% recientes.forEach(libro => { %>
              <div class="serie">
                <figure>
                  <a href="/libro/<%- libro.LibroID %>"><img src="<%- libro.imagen %>" alt="<%- libro.Titulo %>"/></a>
                </figure>
                <div class="title">
                  <a href="/libro/<%- libro.LibroID %>"><%- libro.Titulo %></a>
                </div>
              </div>
            <% }) %>
          </div>
        </section>
        <section>
          <h2 class="centrar">Populares</h2>
          <div class="populares">
            <% gustados.forEach(gustado => { %>
              <a href="/libro/<%- gustado.LibroID %>">
                <div class="popular">
                  <h3><%- gustado.Titulo %></h3>
                  <figure>
                    <img
                      src="<%- gustado.imagen %>"
                      alt="<%- gustado.Titulo %>"
                    />
                  </figure>
                </div>
              </a>
            <% })%>
          </div>
        </section>
      </main>
      <footer class="footerContainer">
        <%- include('partials/footer.ejs') %>
      </footer>
    </div>
  </body>
  <script src="js/dropdown.js"></script>
</html>
