<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <header>
        <%- include('partials/navbar.ejs') %>
    </header>
    <main class="libroContainer">
        <div class="libroIndividual">
            <figure>
                <img src="<%- libro[0].imagen %>">

                <% if(typeof role != 'undefined') { %>
                  <!-- Botón para editar el libro -->
                  <a href="/libro/<%- libro[0].LibroID %>/editar" class="editar-libro-btn">Editar Libro</a>
                <% } %>
            </figure>
            <div class="info">
                <h1><%- libro[0].Titulo %></h1>
                <h4>Sinopsis</h4>
                <p><%- libro[0].Sinopsis %></p>
                <h4>Idioma</h4>
                <p><%- libro[0].Idioma %></p>
                <h4>Paginas</h4>
                <p><%- libro[0].CantidadPaginas %> en total</p>
                <h4>Géneros</h4>
                <div class="generos">
                    <% libro.forEach(l => { %>
                      <a href="/catalogo?generoId=<%- l.CategoriaID %>">
                        <span class="genero"><%- l.NombreCategoria %></span>
                      </a>
                    <%})%>
                </div>      
            </div>
        </div>
    </main>
  </body>
</html>
