<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    
  </head>
  <body>
    <header>
        <%- include('partials/navbar.ejs') %>
    </header>
    <div class="wrapper">
      <main class="libroContainer">
        <div class="libroIndividual">
            <figure>
                <img src="<%- libro[0].imagen %>">

                <%  if(role == 'admin') { %>
                  <!-- Botón para editar el libro -->

                  <a href="/libro/<%- libro[0].LibroID %>/editar" class="editar-libro-btn">Editar Libro</a>
                <% } %>
            </figure>
            <div class="info">
                <h1><%- libro[0].Titulo %></h1>
                <h4>Sinopsis</h4>
                <p><%- libro[0].Sinopsis %></p>
                <h4>Idioma</h4>
                <p><%- libro[0].Idioma %></p>
                <h4>Paginas</h4>
                <p><%- libro[0].CantidadPaginas %> en total</p>
                <h4>Géneros</h4>
                <div class="generos">
                    <% libro.forEach(l => { %>
                      <a href="/catalogo?generoId=<%- l.CategoriaID %>">
                        <span class="genero"><%- l.NombreCategoria %></span>
                      </a>
                    <%})%>
                </div>      
            </div>
        </div>
        <div class="notificacion" id="notificacion">
          <i class="fa-solid fa-x"></i>
          <p>Este libro ya esta añadido a tu lista de ver luego.</p>
        </div>
        <div class="acciones">
          <div class="accion" id="espera" data-libroId="<%- libro[0].LibroID %>">
            <i class="fa-solid fa-star"></i>
            <p>Ver luego</p>
          </div>
          <div class="accion" id="gustado" data-libroId="<%- libro[0].LibroID %>">
            <i class="fa-solid fa-heart"></i>
            <p>Me gusta</p>
          </div>
          <div class="accion" id="seguido" data-libroId="<%- libro[0].LibroID %>">
            <i class="fa-solid fa-check"></i>
            <p>Seguir</p>
          </div>
        </div>
        <iframe class="pdf" src="<%- libro[0].pdf_link %>" frameborder="0"></iframe>
    </main>
    <footer class="footerContainer">
      <%- include('partials/footer.ejs') %>
    </footer>
    </div>
    <script src="js/acciones.js"></script>
  </body>
</html>
