<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <header>
        <%- include('partials/navbar.ejs') %>
      </header>
    <main class="libroContainer">
        <div class="libroIndividual">
            <figure>
                <img src="<%- libro[0].imagen %>">
            </figure>
            <div class="info">
                <h1><%- libro[0].Titulo %></h1>
                <h4>Synopsis</h4>
                <p><%- libro[0].Sinopsis %></p>
                <h4>Generos</h4>
                <div class="generos">
                    <% libro.forEach(l => { %>
                      <a href="/catalogo?generoId=<%- l.CategoriaID %>">
                        <span class="genero"><%- l.NombreCategoria %></span>
                      </a>
                    <%})%>
                </div>
            </div>
        </div>
    </main>
  </body>
</html>
